.left_panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.heading_left{
    border-radius: 13px;
}

.top_rock{
    width: 93%;
    height: 280px;
    border: 1px solid rgb(224, 221, 221);
    border-radius:21px ;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 3px rgb(230, 228, 228) inset;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
}


.ai_name{
    position: absolute;
    top: 20;
    left: 80;
    font-size: 2rem;
    color: blueviolet;
}

.user_name{
    position: absolute;
    top: 25;
    right: 30;
    font-size: 2rem;
    color: blueviolet;
}


.ai_rock{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(229, 224, 224);
    border-radius: 100px;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 3px rgb(222, 210, 234) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8rem;
}

.user_rock{
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: column;
    background: linear-gradient(to right,rgb(248, 214, 247),white);
    border-radius: 13px;

}

.play_items{
    width: 120px;
    height: 97px;
    border: 1px solid rgb(194, 190, 190);
    border-radius: 50px;
    margin: 9px;
    background-color: white;
    box-shadow: 1px 1px 2px 3px rgb(222, 210, 234) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
    font-size: 4.5rem;
}

.indi_item:hover{
    transform: scale(1.2);
    cursor: pointer;
    
}


.restart{
    border: 1px solid black;
    min-width: 30px;
    height: 30px;
    font-weight: bolder;
    border-radius: 21px;
    position: absolute;
    bottom: 10;
    left: 10;
    cursor: pointer;
    background-color: rgb(159, 4, 159);
    color: white;
}

.restart:hover{
    transform: scale(1.13);
}

.bottom_rock{
    width: 97%;
    height: 110px;
    border-radius: 21px;
    /* background-color: rgb(227, 107, 229); */
    background: linear-gradient(to right,rgb(227,107,229),rgb(246, 177, 247));
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_rock{
    width: 87%;
    height: 70px;
    /* border: 1px solid black; */
    border-radius: 13px;
    background-color: white;
    box-shadow: 1px 1px 2px 3px rgb(194, 194, 245) inset;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.48rem;
}